body {
    background-image: url("productsbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    float: left;
    text-align: center;
    font-size: 15px;
    font-style: Georgia;
    margin-left: 5%;
    color:#705f4a;
}
.link {
    font-size: 15px;
    padding-top: 25px;
    margin-left: 75%;
  }
.link a{
    color: #a69a78;
    padding: 16px 18px;
    text-decoration: none;
    }
.column {
    width: 100%;
    float: left;
    padding: 10px;
    margin-top: 3%;
}
.column.side {
    width: 40%;
}
.column.middle {
    width: 40%;
    margin-top: 5%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.image {
    margin-top: 7%;
    height: 25em;
    border: 5px solid #514848;
}
.text {
    color: antiquewhite;
}